@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="main-wrapper">
    <div class="container" style="border-radius: 5px; padding: 32px; box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 75%);">
        <header>
            <h1>@ViewData["Title"]</h1>
            <p>You have successfully logged out of the application.</p>
        </header>
    </div>
</div>
